* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #333;
}

a {
    color: #003bb3;
}

a:visited {
    color: #9933aa;
}

body {
    margin: 2em 5em 0em;
}

.authors {
    font-weight: bold;
}

.meta {
    font-style: italic;
}

img {
    display: inline-block;
    width: 83px;
    margin: 0 8px 0 0;
    vertical-align: -65px;
    float: left;
}

@media (max-width: 500px) {
    body {
        margin: 2em 1.5em 1.5em;
    }

    li, h3, p {
        font-size: 1rem;
    }
}

.left {
    height: 83px;
    display: inline-block;
}

h1 {
    color: #eeeeee;
    background-color: #333333;
    display: inline-block;
    padding: 10px;
    margin: 0;
    float: left;
    clear: right;
}

h1 > i {
    color: #eeeeee;
}


h2 {
    margin: 0;
    display: inline-block;
    float: left;
    clear: left;
    font-size: 21px;
    padding-top: 10px;
}

hr {
    display: block;
    clear: both;
    border: 0px solid #333;
}

.grid {
    margin: 0;
    padding: 0;
}

.grid > li {
    list-style-type: none;
    display: inline-table;
    vertical-align: top;
}

.grid > li:first-child {
    padding-left: 0;
}